@tailwind base;
@tailwind components;
@tailwind utilities;


/*Disable native scroll bar*/
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}


html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

/*Global styles*/

:root {
  --background: #161825;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}