@tailwind base;
@tailwind components;
@tailwind utilities;

/*Disable native scroll bar*/
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

/*Global styles*/

:root {
  --background: #161825;
  --background2: #31263d48;
  --background3: #415a7528;
  --black: #2d2e47;
  --white: #e0e0e0;
  --blue: #8885d1;
  --yellow: #dfc38e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
